page-home {
	.list-md .item-block .item-inner{
		border-bottom: none
	}
	.item-md.item-block .item-inner{
		border-bottom: none
	}
	.list-header-md{
		border-top: none;
	}
	.list-ios .item-block .item-inner{
		border-bottom: none;
		border-top: none;
	}
	.list-ios > .item-block:first-child{
		border-top: none;
	}
	.list-ios > .item-block:last-child{
		border-bottom: none;
	}

	.item-ios.item-block .item-inner{
		border-bottom: none
	}
	.list-header-ios{
		border-top: none;
		border-bottom: none;
	}

	.top1{
		margin: auto;
		text-align: center;
		color: orange;
		font-size: 1.0em;
	}
	.top2{
		margin: auto;
		text-align: center;
		color: pink;
		font-size: 1.0em;
	}
	.top3{
		margin: auto;
		text-align: center;
		color: violet;
		font-size: 1.0em;
	}
	.top{
		margin: auto;
		text-align: center;
		font-size: 1.0em;
		color: #91908e;

	}

	.profileitem{
		img{
			height: 10vh;
			width: 10vh;
			margin: auto;
			border-radius: 5px;
		}
	}

	.song{
		font-size: 100%;
		color: pink;
		margin-top: 3%;
		margin-left: 6%;
	}
	.actor{
		font-size: 75%;
		color: violet;
		margin-top: 4.5%;
		margin-left: 6%;
	}

	.mv{
		font-size: 65%;
		color: pink;
		margin-top: 3%;
		margin-left: 6%;
	}
	.actormv{
		font-size: 50%;
		color: violet;
		margin-top: 4.5%;
		margin-left: 6%;
	}

	.buttonMore{
		box-shadow: none;
		margin: auto;
		color: wheat;
		font-size: 1.2em;
	}

	.buttonInfo{
		box-shadow: none;
		margin: auto;
		color: wheat;
	}
	.title1{
		color: black;
		font-size: 20px;
		width: 70%;
	}
	.title2{
		color: black;
		font-size: 20px;
		width: 30%;
	}
	.playList{
		width: 40%;
		color: white;
		button{
			box-shadow: none;
			margin-top: 7%;
		}
	}
	.more{
		margin: auto;
		text-align: center;
		color: pink;
		font-size: 15px;
		width: 30%;
	}
	.itemleft{
		width: 46%; 
		margin-right: 4%
	}
	.itemright{
		width: 46%;
		margin-left: 4%
	}
	.profilemv{
		border-radius: 5px; 
		height: 15.6vh; 
		width: 25vh;
	}
	.infomv{
		width: 63%; 
		display: flex; 
		flex-direction: column;
	}
	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
		width: 100%;
		left: 20vh;
		top: 0vh
	}
	.swiper-pagination-clickable .swiper-pagination-bullet{
		background: pink;
	}
}
