<ion-content style="margin-top: 3.5vh">
    <div style="background-color: pink">
        <div class="row">
            <div style="width: 20%">
                <button ion-button style="box-shadow: none; font-size: 1.3em" color="primary" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
            </div>
        </div>
    </div>
    <video class="video" autoplay="false" controls>
        <source src="{{video}}" type="video/mp4">
    </video>
    <div class="row">
        <ion-list style="width: 50%; margin-left:0">
             <ion-item *ngFor="let item of itemLeft">
                <div class="itemRight">
                    <div (click)="playvideo(item.linkmv,item.profilemv,item.tenmv,item.tencsmv)">
                        <div>
                            <img class="profilemv" src="{{item.profilemv}}">
                        </div>
                        <div>
                            <div class="infomv">
                                <div class="mv">
                                    {{item.tenmv}}
                                </div>
                                <div class="actormv">
                                    {{item.tencsmv}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list style="width: 50%; margin-right:0">
            <ion-item *ngFor="let item of itemRight">
                <div class="itemRight">
                    <div (click)="playvideo(item.linkmv,item.profilemv,item.tenmv,item.tencsmv)">
                        <div>
                            <img class="profilemv" src="{{item.profilemv}}">
                        </div>
                        <div>
                            <div class="infomv">
                                <div class="mv">
                                    {{item.tenmv}}
                                </div>
                                <div class="actormv">
                                    {{item.tencsmv}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>