tabs-page{
	.toolbar-content.toolbar-content-md{
		height: 100% !important;	
	} 
	.text{
		display: flex;
		p{
			margin: auto;
			text-align: center;
		}

	}
	.text1{
		display: flex;
		p{
			margin: auto;
			text-align: center;
			font-size: 85%
		}
	}
}