tabs-page{
	.toolbar-content.toolbar-content-md{
		height: 100% !important;	
	} 
	.text{
		font-size: 110%;
		color: pink;
		margin-top: 3%;
		margin-left: 6%;
	}
	.text1{
		font-size: 85%;
		color: violet;
		margin-top: 4.5%;
		margin-left: 6%;
	}
}